:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
}

/* ============= COMPONENTS ============= */

.logo__web,
.logo__studio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__web {
  color: var(--accent-color);
}

.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* =========== COMPONENTS END =========== */

/* ============= HEADER ============= */

.header {
  padding-top: 25px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo__header {
  margin-right: 70px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.header__contakt-info {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.contact__mail-header {
  margin-right: 50px;
}

.navigation__list-item {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation__list .navigation__list-item.is-current {
  color: var(--accent-color);
}

.navigation__list-item:hover,
.navigation__list-item:focus,
.contact__mail-header:hover,
.contact__mail-header:focus,
.contact__tel-header:hover,
.contact__tel-header:focus {
  color: var(--accent-color);
}

.contact__mail-header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact__tel-header {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

/* ============= HEADER END ============= */

/* ============= HERO ============= */

.container__hero {
  width: 1440px;
  background-color: gray;
  height: 600px;
}

.hero__title {
  background-color: green;
  padding-top: 200px;
  padding-bottom: 30px;
  /* display: inline-block;
  width: 700px; */

  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color: #ffffff; */
}

/* ============= HERO END ============= */

/* ============= ADVANTAGES ============= */

.advantages__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages__description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ============= ADVANTAGES END ============= */

/* =========== OUR TEAM SECTION =========== */

.team__member {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.member__occupation {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ============= OUR TEAM SECTION END ============= */

/* ============= FOOTER ============= */

/* .logo__footer > .logo__studio {
  color: #ffffff;
} */

.address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}

.contact__mail-footer {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}

.contact__tel-footer {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}

/* ============= FOOTER END ============= */

/* ============= PORTFOLIO ============= */

.btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.projects__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ============= PORTFOLIO END ============= */
